.wrapper {
  background: linear-gradient(#eeeeee, #ffffff);
  display: flex;
  justify-content: center;
  min-height: 1200px;
}

.cart {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--GREY);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-top: 20px;
  align-self: center;
}

.cartGrid {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  row-gap: 40px;
  width: 1000px;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  background-color: var(--WHITE);
  padding: 10px;
  border-radius: 10px;
}

.item > div {
  width: 150px;
}

.image > img {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 20px;
  border: 1px solid #c6c6c6;
  background-color: var(--WHITE);

  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 10px;
  color: var(--GREY);
  font-size: 1.5rem;
}

.minus:hover,
.plus:hover {
  background-color: rgba(211, 211, 211, 0.351);
  border-radius: 5px;
  cursor: pointer;
}
