.preload {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 210px;
}

.featureText {
  margin-top: 20px;
  padding: 20px 25px;
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  font-size: 2.1rem;
  font-weight: 700;
}

.smallText {
  font-size: 1.5rem;
}

.map {
  padding-top: 20px;
  animation-name: fadeInMap;
  animation-duration: 0.6s;
}

.one {
  padding-left: -4px;
  padding-top: 2px;
  animation-name: fadeInOne;
  animation-duration: 0.6s;
  transform: scale(1.1);
}

.charge {
  animation-name: fadeInCharge;
  animation-duration: 0.6s;
}

.support {
  animation-name: fadeInSupport;
  animation-duration: 0.6s;
}

@keyframes fadeInMap {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeInSupport {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeInOne {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes fadeInCharge {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
