.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--WHITE);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.accessories {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 20px;
}

.accessory {
  color: var(--GREY);
  width: 30%;
  min-height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: flex-start;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.header2 {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: flex-start;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -25px;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  position: relative;
}

.image::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  top: 0;
  left: 0px;
  background-color: #eeeeee;
  z-index: -1;
  border-radius: 50%;
}

.image > img {
  object-fit: contain;
  height: 165px;
  width: 170px;
}

.description {
  color: #999999;
  font-size: 1.1rem;
  text-align: center;
  max-height: 75px;
}

.price {
  color: var(--GREY);
  font-size: 1.5rem;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 129px;
  padding: 10px;
  height: 42px;
  border: 2px solid #c6c6c6;
  background-color: var(--WHITE);
  color: #c6c6c6;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 42px;
  border: 2px solid #c6c6c6;
  background-color: var(--WHITE);
  color: #c6c6c6;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 767px) {
  .image > img {
    object-fit: contain;
    height: 95px;
    width: 100px;
  }
  .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0px;
    background-color: #eeeeee;
    z-index: -1;
    border-radius: 50%;
  }
  .header {
    font-size: 1.5rem;
  }
  .header2 {
    font-size: 1.5rem;
  }
  .description {
    display: none;
  }
  .accessory {
    min-height: 232px;
  }
}
