.wrapper {
  background: linear-gradient(#eeeeee, #ffffff);
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.cart {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.header,
.orderHeader {
  color: var(--GREY);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-top: 20px;
  align-self: center;
  text-align: center;
}

.orderHeader {
  margin-bottom: 20px;
}

.cartGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  max-width: 1000px;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: var(--WHITE);
  padding: 10px;
  border-radius: 10px;
}

/* .item > div {
  width: 150px;
} */

.image > img {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 20px;
  border: 1px solid #c6c6c6;
  background-color: var(--WHITE);

  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 10px;
  color: var(--GREY);
  font-size: 1.5rem;
}

.minus:hover,
.plus:hover {
  background-color: rgba(211, 211, 211, 0.351);
  border-radius: 5px;
  cursor: pointer;
}

.scooterImage {
  display: flex;
  justify-content: center;
}

.scooterImage > img {
  width: 500px;
}

.clearButton,
.orderButton {
  display: block;
  width: 240px;
  height: 48px;
  background-color: var(--WHITE);
  color: var(--GREY);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.clearButton {
  border: 2px solid red;
}

.orderButton {
  border: 2px solid green;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modelInfo {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modelInfo > div {
  width: 20%;
}

@media (max-width: 767px) {
  .modelInfo {
    flex-direction: column;
    gap: 10px;
  }
  .modelInfo > div {
    width: 30%;
  }
  .clearButton,
  .orderButton {
    width: 150px;
    height: 30px;
    font-size: 1rem;
  }
}
