.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 129px;
  height: 39px;
  border: 1px solid #c6c6c6;
  background-color: var(--WHITE);

  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 10px;
  color: var(--GREY);
  font-size: 1.5rem;
}

.minus:hover,
.plus:hover {
  background-color: rgba(211, 211, 211, 0.351);
  border-radius: 5px;
  cursor: pointer;
}
