.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--WHITE);
  display: flex;
  justify-content: center;
  background: linear-gradient(#ffffff, #eeeeee);
}

.smartPhoneControl {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 4.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--GREY);
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.description {
  font-size: 1.5rem;
  color: var(--GREY);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
}

.main {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
}

.iconsDownload {
  width: 45%;
  margin-top: 55px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 25px;
}

.image {
  width: 45%;
}

.image > img {
  max-width: 150%;
}

.icon {
  width: 100px;
  height: 100px;
  background-image: url('../../../assets/images/polygon.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentIcon {
  transform: translateY(-25%);
}

.iconDescription {
  color: #cccccc;
  width: 100px;
  text-align: center;
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .iconsDownload {
    display: none;
  }

  .header {
    text-align: center;
    padding: 0 20px;
  }
  .image {
    align-self: center;
    justify-self: center;
  }
}
