@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Proximanova';
  font-style: bold;
  font-weight: 600;
  src: url('../src/assets/fonts/ProximaNova-Bold.woff') format('woff');
}

html {
  --BLUE: rgb(0, 158, 255);
  --GREY: rgb(50, 57, 65);
  --WHITE: rgb(255, 255, 255);
  --GREY_2: rgb(153, 153, 153);
  --GREEN: rgb(106, 205, 104);
  font-size: 12px;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proximanova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex; */
}

@media (max-width: 1024px) {
  body {
    display: block;
  }
  html {
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
